/*======================
Table of contents
========================

1. Brand General
2. Button
3.Animation
4. MediaQuery
*/

/*===============
1. Brand General
================*/

.web3wise__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

/*===============
2. Button
================*/
.ui-btn {
  box-sizing: border-box;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: 400;
  background: #1a201e;
  border: none;
  transition: 0.3s;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.137);
  border-radius: 1px;
}

.ui-btn span {
  letter-spacing: 0.1rem;
  transition: 0.3s;
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.ui-btn:hover,
.ui-btn:focus {
  background: rgba(30, 29, 29, 0.63);
}

.ui-btn:hover span,
.ui-btn:focus span {
  color: var(--color-blog);
}

.ui-btn:hover span::before,
.ui-btn:focus span::before {
  animation: chitchat linear both 1.2s;
}

/*===============
3. Animation
================*/
@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";}35%{content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}
/*===============
4. MediaQuery
================*/

@media screen and (max-width: 650px) {
  .web3wise__brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}
