/*======================
Table of contents
========================

1. Article General style
2. MediaQuery
*/

/*===============
1. Article General style
================*/

.web3wise__blog-container_article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(
    circle at 3% 25%,
    rgba(25, 42, 36, 0.421) 0%,
    rgba(6, 1, 4, 0.168) 100%
  );
}

.web3wise__blog-container_article-image {
  height: 100%;
  width: 100%;
  background: radial-gradient(
    circle at 3% 25%,
    rgba(25, 42, 36, 0.421) 0%,
    rgba(6, 1, 4, 0.168) 100%
  );
}

.web3wise__blog-container_article-image img {
  height: 100%;
  width: 100%;
}

.web3wise__blog-container_article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  height: 100%;
}

.web3wise__blog-container_article-content h4 {
  font-size: 25px;
  font-weight: 800;
  font-family: var(--font-family);
  color: var(--color-text);
  margin-bottom: 5rem;
}

.web3wise__blog-container_article-content p {
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  font-family: var(--font-family);
  color: var(--color-text);
}

.web3wise__blog-container_groupA {
  flex: 0.75;
  margin-right: 2rem;
}
.web3wise__blog-container_groupB {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

/*===============
2. MediaQuery
================*/

@media screen and (max-width: 600px) {
  .web3wise__blog-container_groupB {
    grid-template-columns: repeat(1, 1fr);
  }

  .web3wise__blog-container_groupB {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media screen and (max-width: 990px) {
  .web3wise__blog-container_groupB {
    grid-template-columns: repeat(1, 1fr);
  }
}
