/*======================
Table of contents
========================

1. General style 
*/

/*===============
1. General style 
================*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #c8c8c8 1.84%, #671f23 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #403a3a -13.86%, #c9333a 99.55%);

  --color-bg: rgb(6, 1, 4);
  --color-text: #d7f3ed;
  --color-subtext: rgb(83, 102, 99);

  --color-blog: #00ac83;
  --color-footer: rgb(5, 1, 2);
}
