/* *{
    border: 1px solid red;
} */

.web3wise__header{
    display: flex;
}

.web3wise__header-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.web3wise__header-content h1{
font-family: var(--font-family);
font-weight: 800;
font-size: 60px;
color: var(--color-text);
line-height: 70px;
}

.web3wise__header-content p{
    color: var(--color-subtext);
    font-family: var(--font-family);
    font-size: 18px;
    margin-top: 1.5rem;
    line-height: 27px;
}

.web3wise__header-content__input{
    width: 70%;
    margin: 2rem 0 1rem;
    display: flex;
}

.web3wise__header-content__input input{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.066);
flex: 2;
width: 100%;
min-height: 40px;
border-radius: 1px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.1px);
-webkit-backdrop-filter: blur(3.1px);
border: 2px solid var(--color-blog);
font-family: var(--font-family);
font-size: 18px;
outline: none;
color: var(--color-text);
padding: 0 1rem;
}

.web3wise__header-content__input button{
   background: var(--color-blog); 
   flex: 0.6;
   width: 100%;
   min-height: 40px;
   border: none;
   font-size: 18px;
   color: var(--color-text);
   border-radius: 1px;
   font-weight: 500;
   cursor: pointer;
   outline: none;
   padding: 0 2rem;
   margin-left: 2rem;
}

.web3wise__header-content__people{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}
.web3wise__header-content__people img{
    height: 38px;
}
.web3wise__header-content__people p{
    height: 40px;
    margin: 0 0 0 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    color: var(--color-text);
    text-align: center;
    line-height: 37px;
}

.web3wise__header-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.web3wise__header-image img{
    width: 500px;
    height: auto;
}

@media screen and (max-width: 1050px){
    .web3wise__header{flex-direction: column;}
    .web3wise__header-content{
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px){
    .web3wise__header h1{
        font-size: 40px;
        line-height: 60px;
    }
    .web3wise__header-content p{
        color: var(--color-subtext);
        font-family: var(--font-family);
        font-size: 15px;
        margin-top: 1.5rem;
        line-height: 27px;
    }
    .web3wise__header-content{
        margin: 0 0 3rem;
    }
    .web3wise__header-content__input{
        width: 100%;
        margin: 2rem 0 1rem;
        display: flex;
    }
    .web3wise__header-content__input button{
        margin-left: 0;
     }
     .web3wise__header-image{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
    .web3wise__header-content__input input{
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.066);
        flex: 2;
        width: 100%;
        min-height: 30px;
        border-radius: 2px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.1px);
        -webkit-backdrop-filter: blur(3.1px);
        border: 2px solid var(--color-blog);
        font-family: var(--font-family);
        font-size: 15px;
        outline: none;
        color: var(--color-text);
        padding: 0 1rem;
        border-top-right-radius:0 ;
        border-bottom-right-radius:0 ;
        }
        .web3wise__header-content__input button{
            background: var(--color-blog); 
            flex: 0.6;
            width: 100%;
            min-height: 40px;
            border: none;
            font-size: 15px;
            color: var(--color-text);
            border-radius: 4px;
            font-weight: bold;
            cursor: pointer;
            outline: none;
            padding: 0 1rem;
            margin-left: 1.5rem;
         }
         .web3wise__header-image img{
            width: 100%;
            height: 100%;
        }
        .web3wise__header-content__people{
            display: flex;
            flex-direction: column;
        }
        .web3wise__header-content__people img{
            height: 37px;
        }
        .web3wise__header-content__people p{
            height: 40px;
            margin: 10px 0 0 1rem;
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 11px;
            color: var(--color-text);
            text-align: center;
        }
}