/*======================
Table of contents
========================

1. Footer General style 
2.Media Query
*/

/*===============
1. Footer General style 
================*/

.web3wise__footer {
  /* https://angrytools.com/gradient/ */
  background: radial-gradient(
    circle at 3% 25%,
    rgba(25, 42, 36, 0.421) 0%,
    rgba(6, 1, 4, 0.168) 100%
  );
  height: auto;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
  font-family: var(--font-family);
  margin-top: 2rem;
}

.web3wise__footer img {
  height: 100px;
  width: auto;
  margin-bottom: 1.7rem;
}

.web3wise__footer p {
  text-align: center;
  font-size: 15px;
}

.web3wise__footer-icon {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
  align-items: center;
}

.web3wise__icons-footer {
  color: var(--color-text);
  font-size: 22px;
  transition: 0.4s;
}

.web3wise__icons-footer:hover {
  scale: 1.4;
  color: var(--color-blog);
}

/*===============
2.Media Query
================*/

@media screen and (max-width: 600px) {
  .web3wise__icons-footer {
    margin: 0 1rem;
    justify-content: center;
  }

  .web3wise__footer img {
    height: 70px;
    width: auto;
    margin-bottom: 1.7rem;
  }

  .web3wise__footer p {
    text-align: center;
    font-size: 13px;
  }

  .web3wise__icons-footer {
    color: var(--color-text);
    font-size: 18px;
    transition: 0.4s;
  }
}
